<main>
  <div class="form-container">
    <h2>Formulario para solicitar soporte</h2>
    <form (ngSubmit)="submitForm()" #supportForm="ngForm">
      <div class="form-area">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
      </div>
      <div class="form-area">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
      </div>
      <div class="form-area">
        <label for="topic">Tema:</label>
        <input type="text" id="topic" name="topic" [(ngModel)]="formData.topic" required>
      </div>
      <div class="form-area">
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" [(ngModel)]="formData.description" required></textarea>
      </div>
    </form>
  </div>
  <div class="container-buttons">
    <div class="button-enviar">
      <button type="submit" (click)="submitForm()" class="enviar">Enviar</button>
    </div>
    <div class="button-cancelar">
      <button type="button" (click)="cancelForm()" class="cancelar">Cancelar</button>
    </div>
    <div class="button-reiniciar">
    <button type="button" (click)="resetForm()" class="reiniciar">Reiniciar</button>
    </div>
  </div>   
</main>
<app-footer></app-footer>
